/* General body styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

header {
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 10px 20px; /* Add padding for better spacing */
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    display: flex;
    justify-content: space-between; /* Ensures space between left and right content */
    align-items: center; /* Vertically aligns the content */
    width: 100%; /* Ensures the header content spans the full width of its container */
    padding: 0 20px; /* Adds padding on the sides if needed */
}

.left-content {
    display: flex;
    align-items: center;
}

h1 {
    margin-right: 20px;
    font-size: 24px;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.social-links {
    display: flex;
}

.social-links a {
    padding: 0 10px;
}

.social-links img {
    width: 20px;
    height: auto;
}

main {
    padding-top: 60px; /* Ensure main content is below the header */
}

section {
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #ddd;
}

/* Hover effects */
nav ul li a:hover,
.social-links a:hover {
    background: #f0f0f0;
}


.center {
    text-align: center;
    padding: 20px 0; /* Adds 10px padding on top and bottom */
}

.menu-toggle {
    display: none;  /* Hide by default */
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block; /* Show the hamburger menu on small screens */
    }
    .navigation {
        display: none; /* Hide the navigation initially on small screens */
        flex-direction: column;
    }
    .navigation ul {
        width: 100%;
    }
    .navigation ul li {
        text-align: center; /* Centers links when menu is open */
        width: 100%;
    }
    .navigation.active {
        display: flex; /* Shows the navigation when active */
    }
}

#about {
    display: flex;
    flex-direction: column; /* Arranges the child divs in a column */
}

.text-content, .image-content {
    flex: 1; /* Each takes up equal space */
}

